body{
	font-family: 'Arvo', serif;
	text-decoration: none;
	text-align: center;
	font-color:white;
	font-size: 14px;
	color: #ffffff;
	background-color: #000000;
}
h1{
    position: absolute;
    font-size: 2em;
    font-weight: 400;
    top: 60px;
    left: 120px;
}
h2{
    font-size: 2em;
    padding: 30px;
}
h3{
	font-size: 1.5em;
    padding: 10px;
    color: #ffffff;
    background-color: #B23000;
}
a{
	text-decoration: none;
	color: #ffffff;
}
span{
	font-size: .5em;
}
nav, .top-banner{
	height: 50px;	
}
nav a{
	float: right;
	font-size: 1.1em;			
	width: 150px;
	padding: 20px 20px 15px 20px;
}
article{
	padding: 90px 0 90px 0;
    font-size: 2em;
    border-top: 1px solid #FF4500;
    font-style: italic;
}
nav a:hover, .logo:hover {
	background-color: #FF4500;
   
}
aside p{
	color: black;
    padding: 60px;
    background-color: #ffffff;
    text-align: center;  
    line-height: 1.43;
    word-spacing: 4px;
}
aside div{
	margin: 20%;
    width: 390px;
}
figure p{
    font-weight: 400;
    padding: 3%;
}
figure:hover{
	background-color:black;
}
.logo{
	float: left;
	width: 80px;
	border-radius: 50%;
	background-color: #ffffff;
	margin: 10px 0 0 30px;
}
.columns-main{
	width: 49%;
	float: left;
}
.main-img{
	width: 500px;
}
.home-image{
 	padding-top: 10px;
    height: 200px;
    width: 160px;
 }
.inner-image{
	height: 190px;
    width: 140px
}
.lower-content{	
	overflow: hidden;
	margin-bottom: 80px; 
}
.columns-three, .columns-four{
	float: left;
	text-align: center;
	background-color: #202020;
    border: 1px solid #B1AEB1;
}
.columns-three{	
	width: 33.1%;
    height: 250px;
    border: 1px solid #000000		
}
.columns-four{
	width: 18.1%;
	padding: 0.8% 0.8% 0.8% 0.89%;
}
.clearfix:after{
	visibility: hidden;
	display:block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.top-border{
	border-top: 1px solid #FF4500;
}
footer{
    height: 70px;
}
footer p{
	color: #ffffff;
	float: left;
	font-size: 1em;
	text-align: center;
	width: 30%;
	padding: 20px;
}
footer a{
	text-align: right;
}	