* { margin:0; padding:0; box-sizing:border-box; }
body{
	color:#fff;
	font-family: 'Cinzel', serif;
	font-size:18px;
	text-align: center;
	background-color: black;
}
h1{
	font-weight: bold;
	font-family: 'Cinzel Decorative', serif;
	margin-top: .25em;
	margin-bottom: .25em;
	word-spacing: .25em;
}
a {
	color:#fff;
}
a:hover{
	color: yellow;
}
#about{
	color: rgb(255,141,17);
	line-height: 1.5em;
	margin: 2em;
	font-weight: 100;
}	
.offers{
	background-color: #090909;
	color: white;
	padding-top:.5em;
	padding-bottom: .5em;
	font-weight: 800;

}
.offers, footer{
	border-top:solid;
	border-color: #000099;
}

.gourmets, li{
	margin-top: 5px;
	font-size: 18px;
	list-style-type: none;
	color:#ffffff;
	background-color: black;
}

#slogan{
	font-style: italic; 
	text-align: center;
	background-color: black;
	color: 	#ffffff;
	font-size: 1.5em;
}
#middle_frame{
	border-top:solid;
	border-color: rgb(255,141,17);
}

#middle_frame{
	height: 600px;
	margin: 0px;
	position: 	relative;
}

footer {
	text-align: left;
	padding:2em;
	background-color: #000000;
	font-size: 18px;
}
